.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #eb5d44;
  border: 1px solid #eb5d44;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #f82020;
  border-color: #f82020;
}
